.noto-serif-thai-uniquifier {
    font-family: "Noto Serif Thai", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body {
    background-color: beige;
}

h3 {
    text-align: center;
    color: blue;
}

h1 {
    text-align: center;
    color: aquamarine;
}

p {
    text-align: center;
    color: chartreuse
}

.header-text {
    text-align: center;
    color: blueviolet
}

.header-container {
    background-color: greenyellow;
    padding: 1%;
    border-radius: 10px;
    width: 70%;
    margin: 50px;
}

.flex-header {
    display: flex;
    justify-content: center;
}

.img-container {
    display: flex;
}

.nav-menu-container {
    background-color: white;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1%;
    border-radius: 10px;
}

.nav-menu-item {
    margin-left: 1%;
    margin-right: 1%;
    text-decoration: none;
    color: crimson;
}

.my-intro {
    justify-content: left;
}